:root {
  --base-w: 60;
  --base-h: 60;
}

.tile {
  width: calc(var(--base-w) * 1vw / 8);
  height: calc(var(--base-w) * 1vw / 8);
}

.board {
  height: calc(var(--base-w) * 1vw);
  width: calc(var(--base-w) * 1vw);
}

.boardHeight {
  height: calc(var(--base-w) * 1vw);
}

.boardWidth {
  width: calc(var(--base-w) * 1vw);
}

.boardInfo { 
  width: calc(var(--base-w) * 1vw / 2);
  height: calc(var(--base-w) * 1vw);
}

@media (orientation: landscape) {
  .tile {
    width: calc(var(--base-h) * 1vh / 8);
    height: calc(var(--base-h) * 1vh / 8);
  }

  .board {
    height: calc(var(--base-h) * 1vh);
    width: calc(var(--base-h) * 1vh);
  }

  .boardHeight {
    height: calc(var(--base-h) * 1vh);
  }
  
  .boardWidth {
    width: calc(var(--base-h) * 1vh);
  }

  .boardInfo { 
    width: calc(var(--base-h) * 1vh / 2);
    height: calc(var(--base-w) * 1vh);
  }
}

@media (max-width: 768px ) and (orientation: landscape)  {

  :root {
    --base-w: 70;
    --base-h: 70;
  }

  .boardInfo {
    width: 30vw;
  }
}

@media (max-width: 768px ) and (orientation: portrait)  {

  :root {
    --base-w: 96;
    --base-h: 96;
  }

  .boardInfo {
    width: 90vw;
    height: auto;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  :root {
    --base-w: 60;
    --base-h: 60;
  }

  .boardInfo { 
    width: calc(var(--base-h) * 1vh / 1.5);
    height: calc(var(--base-w) * 1vh);
  }
}

@media (min-width: 1024px) {
  :root {
    --base-w: 80;
    --base-h: 80;
  }
}
