:root {
  --base-size: 60;
  --base-h: 80;
}

.tile {
  width: calc(var(--base-size) * 1vw / 8);
  height: calc(var(--base-size) * 1vw / 8);
}

.board {
  height: calc(var(--base-size) * 1vw);
  width: calc(var(--base-size) * 1vw);
}

.boardHeight {
  height: calc(var(--base-size) * 1vw);
}

.boardWidth {
  width: calc(var(--base-size) * 1vw);
}

.boardInfo { 
  width: calc(var(--base-size) * 1vw / 4);
}

@media (orientation: landscape) {
  .tile {
    width: calc(var(--base-h) * 1vh / 8);
    height: calc(var(--base-h) * 1vh / 8);
  }

  .board {
    height: calc(var(--base-h) * 1vh);
    width: calc(var(--base-h) * 1vh);
  }

  .boardHeight {
    height: calc(var(--base-h) * 1vh);
  }
  
  .boardWidth {
    width: calc(var(--base-h) * 1vh);
  }

  .boardInfo { 
    width: calc(var(--base-h) * 1vh / 4);
  }
}

